<!-- The initial content_for deals with the double reload issue with Turbolinks. For the link to Stack Exchange source, see application.html.erb -->

<%= content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<p id="notice"><%= notice %></p>

<h2>Events</h2>

<div class="table-container">
  <table id="ajax-table" class="display">
  </table>
</div>

<p class="annotation">Receipts are given in kreuzer (kr), where 60 kreuzer = 1 gulden (fl)</p>
<p class="annotation"><i>Genre codes</i>: T = Trauerspiel, L = Lustspiel, S = Schauspiel, G = "Gemälde" (various), O = Opera, C = Concert</p>